#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  background-color: rgb(61, 60, 60) ;
  width: 100%;
}

#container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.shipCard {
  padding: 2em;
  margin-top: 2%;
  background-color: #888;
  border: 1px solid black;
  border-radius: 10px;
}
